body{
  text-align: center;
  margin: 0;
  margin-right: 0;
  font-family:cursive;
  background-color: #E1E5EA;

}
h1{
  margin:0;
  position: relative;
  top: 30px;
  font-size: 5.625em;
  color: white;
}
h2{
  margin-left: 0;
  margin-top: 0;
  position: relative;
  top: 30px;
  font-weight: normal;
  /*font-size: 2.5rem;*/
}
.sub_heading{
  background-position: black;
  color: white;
}


#cloud-right{
  position: relative;
  left: 200px;
  down: 50px;
  width: 100px;
  height: 100px;
}

#cloud-left{
  position: absolute;
  left: 470px;
  width: 100px;
  height: 100px;

}
.top-container{
  background-color: black;
  padding: 100px;
  filter: brightness(90%);
}
.bottom-container{
  background-color: black;
}

.Profile{

}
.Skills{
 padding: 100px;
}
.image{
  width: 220px;
  height: 220px;
  background-color: #E1E5EA;
  padding: 50px;
}
.bottom-container{
}

.Pro{
  text-decoration: underline;


}
.python{
  position:absolute;
  left: 20px;
  down: 100px;
  width: 100px;
  height: 100px;
  padding: 50px;
}
.des{
position: relative;
right:175px;
display: inline-block;
bottom: 140px;

}
.des1{
position: relative;
top: 40px;
right: 370px;
display: inline-block;
}
.description-python{
  text-align: left;
  position: relative;
  top: 40px;
  right: 25px;
  display: inline-block;
}
.star1{
  width:50px;
  height: 50px;
  position: relative;

}
.star2{
  width:50px;
  height: 50px;
  position: relative;
}
.star3{
  width:50px;
  height: 50px;
  position: relative;
}
.star4{
  width:50px;
  height: 50px;
  position: relative;
}
.star5{
  width:50px;
  height: 50px;
  position: relative;
}
.stars{
  position:relative;
  bottom: 145px;
  left: 500px;
}

.College{
  position:relative;
  bottom: 300px;
  left: 400px;
  display: inline-block;
}
